//- mixin用法
//- 產生標題(英文標題，中文標題)
mixin title(eng, text)
    div(class="title-box")
            h1(class="title")=eng
            h2=text
//- 產生產品區塊(圖片，產品標題，產品說明)
mixin product-box(img, h2, text)
    div(class="product-box")
        a(href="#")
            img(src="imgs/" + img + ".png", alt="產品照片")
            hr
            h2=h2 
            p=text       

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="style.css")

        title 首頁| PUG
    body
        div(class="banner")
            nav
                img(src="imgs/LOGO.png", alt="狸小路LOGO" class="logo")
                div(class="link")
                    a(href="#") 關於我們
                    a(href="#") 產品服務
                    a(href="#") 連絡我們
                    a(href="#") 服務流程
        section(class="content")
            h1(class="title") Brands
            h2 狸小路的堅持
            p 不加多餘的糖份、油脂，不給不必要的色素裝飾，只有單純原味，與健康分享，不靠防腐香精來增加香氣與保存期限，使甜膩少一點、但保存短一點，讓你吃的無負擔，追求健康多一點。
            img(src="imgs/img01.png", alt="")
        
        +title("CAKES", "產品介紹")
        section(class="product")
            +product-box("product001","香蕉巧克力 $280", "單純的以蛋、牛奶、乳酪、日本麵粉、奶油為原料組合出不簡單的口感")
            +product-box("product002","香蕉巧克力 $280", "單純的以蛋、牛奶、乳酪、日本麵粉、奶油為原料組合出不簡單的口感")
            +product-box("", "香蕉巧克力 $280", "單純的以蛋、牛奶、乳酪、日本麵粉、奶油為原料組合出不簡單的口感")
            +product-box("", "香蕉巧克力 $280", "單純的以蛋、牛奶、乳酪、日本麵粉、奶油為原料組合出不簡單的口感")
            +product-box("", "香蕉巧克力 $280", "單純的以蛋、牛奶、乳酪、日本麵粉、奶油為原料組合出不簡單的口感")
        +title("NEWS", "最新消息")
        +title("CONTACT", "聯絡我們")

        section(class="product-box")



